/* .basic-backtest-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .basic-backtest-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .basic-backtest-heading {
    font-size: 20px;
  }
  
  .slippage-dropdown {
    position: relative;
  }
  
  .slippage-dropdown button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(241, 213, 213);
    min-width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: black;
  } */
  
  .basic-backtest-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .basic-backtest-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .basic-backtest-heading {
    font-size: 20px;
  }
  
  .slippage-dropdown {
    position: relative;
  }
  
  .slippage-dropdown button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(241, 213, 213);
    min-width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color:  black;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .backtest-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .backtest-table th,
  .backtest-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .backtest-table th {
    background-color: #f2f2f2;
  }
  
  .backtest-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .backtest-table tr:hover {
    background-color: #ddd;
  }
  
