.App {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.Navbar-container {
  display: flex;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
  background-color: #f1f1f1;
}


